.scores-container {
  background: $secondaryColor;
  border: 2px solid $secondaryColor;
  border-radius: 25px;
  height: 55px;
  margin: 50px auto 50px auto;
  text-align: center;
  transition: all .25s;
  width: 200px;

  &.is-active {
    background: $tertiaryColor;
    border: 2px solid $primaryColor;
    height: auto;
    transition: all 1s;
    width: 60%;
  }
}

.scores {
  background: $primaryColor;
  border: 2px solid $secondaryColor;
  border-radius: 25px;
  margin-top: 1rem;
  width: 200px;

  &:active {
    background: $secondaryColor;
    border: 2px solid $primaryColor;
  }
  &:hover {
    cursor: pointer;
  }
}
