body {
  color: $primaryColor;
  font: 16px/1.6 helvetica, sans-serif;

  h1 {
    font-size: 2rem;
    font-weight: 800;
  }
}

.game-recap {
  font-size: 1.5rem;
  font-weight: 600;
}

.start-time {
  font-weight: 600;
}

.die-result {
  font-size: 2rem;
  font-weight: 800;

  &.fade-in {
    opacity: 0;
    animation: fade-in 1s .5s forwards;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.roll-dice {
  color: $tertiaryColor;
  @extend h1;

  &:active {
    color: $primaryColor;
  }
}

.scores-container {
  color: $secondaryColor;
  transition: color .01s;

  &.is-active {
    color: $primaryColor;
  }
}

.scores {
  color: $tertiaryColor;
  @extend h1;

  &:hover {
    cursor: pointer;
  }
  &:active {
    color: $primaryColor;
  }
}

.score-list {
  margin: 1rem auto;
  li {
    span {
      font-weight: 800;
    }
  }
}
